<div class="section">

  <div class="left">
    <div class="title">
      <h1>About</h1>
    </div>
    <div class="image"><img width="150" height="225" src="./jeffconf-italy.png" /></div>
  </div>

  <div class="text">
    <p>
      ServerlessDays Milano is developer-oriented<span class="line-break no-mobile"></span> conference about serverless technologies.</p>

    <p> We believe in and encourage practical sessions, in which developers<span class="line-break no-mobile"></span> share
      their experience and lessons from real-world projects.
    </p>

    <p> ServerlessDays Milan is part of ServerlessDays (formerly JeffConf),<span class="line-break no-mobile"></span> a global
      series of events around the world fostering communities
      <span class="line-break no-mobile"></span> around serverless technologies.</p>

    <p>We follow and enforce the Serverless Days Code of Conduct.</p>

  </div>
</div>