<div class="section">

  <div class="left">
    <div class="title">
      <h1>About</h1>
    </div>
    <div class="image"><img width="150" src="./jeffconf-italy.png" /></div>
  </div>

  <div class="text">
    <p>
      ServerlessDays Milan is developer-oriented<br />conference about serverless technologies.</p>

    <p> We believe in and encourage practical sessions, in which developers<br />share their experience and lessons from
      real-world projects.
    </p>

    <p> ServerlessDays Milan is part of ServerlessDays (formerly JeffConf),<br /> a global series of events around the world
      fostering communities
      <br />around serverless technologies.</p>

    <p>We follow and enforce the Serverless Days Code of Conduct.</p>

  </div>
</div>