<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda</h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>Friday, June 21st</h2>

  <div style="display: flex; flex-direction: row; align-items: center;">
    <div style="display: block; flex: 1 0 70%;">
      <h3>
        <span>The conference agenda will be available a few days after our Call-for-paper ends, beginning of May. Meanwhile, you can leave your email for a one-time message when the agenda will be published: 
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong>get the agenda via email</strong></a> and follow us <a href="https://twitter.com/serverlessMIL" target="_blank">@serverlessMIL</a>.
        </span>
      </h3>

      <h3>
        <a style="color: #19b1a3" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong style="color: #19b1a3" >Get the agenda via email &raquo;</strong></a>
      </h3>

      <h3>
        <br />
        Seats are limited, make sure to&nbsp;<a style="color: #19b1a3" target="_blank" href="https://www.eventbrite.it/e/serverlessdays-milano-2019-tickets-56942723218#tickets"><strong style="color: #19b1a3">reserve a ticket soon &raquo;</strong></a>
      </h3>
    </div>
    <div style="display: flex; flex: 0 1 30%; justify-content: center;">
      <img class="" src="./Mascotte/unicorn_mascot.svg" height="300" />
    </div>
  </div>

  <!-- 
  <h3>Morning</h3>

  <div class="row">

    <div class="coffee">
      <span>9 AM</span>
      <div><span>Doors open</span></div>
    </div>

    <div class="talk">
      <span>9.45 AM</span>
      <strong>Welcome &amp; Introduction</strong>
    </div>

    <div class="keynote" onclick="location='/talk-XXX.html';">
      <span>10 AM</span>
      <strong>XXX</strong>
      <span>XXX</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="keynote" onclick="location='/talk-XXX.html';">
      <span>11.45 AM</span>
      <strong>XXX</strong>
      <span>XXX</span>
    </div>

    <div class="talk" onclick="location='/talk-XXX.html';">
      <span>12.30 AM</span>
      <strong>XXX</strong>
      <span>XXX</span>
    </div>

    <div class="coffee lunch">
      <div><span>Lunch &amp; Open<br /> Space Sessions</span></div>
    </div>

  </div>

  <h3>Afternoon</h3>

  <div class="row">
    <div class="coffee">
      <span>5.45 PM</span>
      <div><span>Closing remarks</span></div>
    </div>

    <div class="coffee lunch">
      <span>6 PM - 9 PM</span>
      <div><span>Happy hour &amp; Networking</span></div>
    </div>
  </div> -->
</div>
