<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda</h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>Friday, June 21st</h2>

  <!--<div style="display: flex; flex-direction: row; align-items: center;">
    <div style="display: block; flex: 1 0 70%;">
      <h3>
        <span>The conference agenda will be available a few days after our Call-for-paper ends, beginning of May. Meanwhile, you can leave your email for a one-time message when the agenda will be published: 
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong>get the final agenda via email</strong></a> and follow us <a href="https://twitter.com/serverlessMIL" target="_blank">@serverlessMIL</a>.
        </span>
      </h3>

      <h3>
        <a style="color: #19b1a3" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong style="color: #19b1a3" >Get the final agenda via email &raquo;</strong></a>
      </h3>

      <h3>
        <br />
        Seats are limited, make sure to&nbsp;<a style="color: #19b1a3" target="_blank" href="https://www.eventbrite.it/e/serverlessdays-milano-2019-tickets-56942723218#tickets"><strong style="color: #19b1a3">reserve a ticket soon &raquo;</strong></a>
      </h3>
    </div>
    <div style="display: flex; flex: 0 1 30%; justify-content: center;">
      <img class="" src="./Mascotte/octo_mascot.svg" height="300" />
    </div>
  </div>-->

  <h3>Morning</h3>

  <div class="row">

    <a href="#">
    <div class="coffee">
      <span>8.30 AM</span>
      <div><span>Doors open</span></div>
    </div>
    </a>
  
    <a href="#">
    <div class="talk">
      <span>9.15 AM</span>
      <strong>Welcome &amp; Introduction</strong>
    </div>
    </a>

    <a href='/talk-jeremy-daly.html'>
    <div class="keynote" onclick="location='/talk-jeremy-daly.html';">
      <span>9.30 AM</span>
      <strong>Jeremy Daly</strong>
      <span>Stop calling everything serverless!</span>
    </div>
    </a>

    <a href='/talk-andreas-grimm.html'>
    <div class="keynote" onclick="location='/talk-andreas-grimm.html';">
      <span>10.15 AM</span>
      <strong>Andreas Grimm</strong>
      <span>Practical Auth in a serverless World</span>
    </div>
    </a>

    <a href="#">
    <div class="coffee">
      <div><span>Coffee Break</span></div>
    </div>
    </a>

    <a href='/talk-danilo-poccia.html'>
    <div class="keynote" onclick="location='/talk-danilo-poccia.html';">
      <span>11.15 AM</span>
      <strong>Danilo Poccia</strong>
      <span>Diving deep into the event-driven side of serverless</span>
    </div>
    </a>

    <a href='/talk-jessica-tibaldi.html'>
    <div class="talk" onclick="location='/talk-jessica-tibaldi.html';">
      <span>12.00 AM</span>
      <strong>Jessica Tibaldi, Andrea Giunta</strong>
      <span>Serverless for solving big issues... getting your Pizzas ASAP!</span>
    </div>
    </a>

    <a href='/talk-alessandro-gaggia.html'>
    <div class="talk" onclick="location='/talk-alessandro-gaggia.html';">
      <span>12.25 AM</span>
      <strong>Alessandro Gaggia</strong>
      <span>You have 1 new (serverless) notification!</span>
    </div>
    </a>

    <a href="#">
    <div class="coffee lunch">
      <div><span>Lunch &amp; Open<br /> Space Sessions</span></div>
    </div>
    </a>

  </div>

  <h3>Afternoon</h3>

  <div class="row">
    <a href='/talk-andrea-tosato.html'>
    <div class="talk lightning" onclick="location='/talk-andrea-tosato.html';">
      <span>13.50 AM</span>
      <strong>Andrea Tosato</strong>
      <span>Azure Functions for ML developers</span>
    </div>
    </a>

    <a href='/talk-marcia-villalba.html'>
    <div class="talk lightning" onclick="location='/talk-marcia-villalba.html';">
      <span>14.00 AM</span>
      <strong>Marcia Villalba</strong>
      <span>Developing Serverless applications with GraphQL</span>
    </div>
    </a>

    <a href='/talk-soenke-ruempler.html'>
    <div class="talk lightning" onclick="location='/talk-soenke-ruempler.html';">
      <span>14.10 AM</span>
      <strong>Soenke Ruempler</strong>
      <span>Serverless vs. Organizations: How Serverless forces us to *un*learn</span>
    </div>
    </a>

    <a href='/talk-farmin-farzin.html'>
    <div class="talk lightning" onclick="location='/talk-farmin-farzin.html';">
      <span>14.20 AM</span>
      <strong>Farmin Farzin</strong>
      <span>Code your infrastructure with your favorite language!</span>
    </div>
    </a>

    <a href='/talk-ory-segal.html'>
    <div class="keynote" onclick="location='/talk-ory-segal.html';">
      <span>14.30 AM</span>
      <strong>Ory Segal</strong>
      <span>Serverless Security: Attackers & Defenders</span>
    </div>
    </a>

    <a href='/talk-victoria-bernard.html'>
    <div class="talk" onclick="location='/talk-victoria-bernard.html';">
      <span>15.15 AM</span>
      <strong>Victoria Bernard</strong>
      <span>Dev life hacks using serverless</span>
    </div>
    </a>

    <a href="#">
    <div class="coffee">
      <div><span>Coffee Break</span></div>
    </div>
    </a>

    <a href='/talk-gunnar-grosch.html'>
    <div class="talk" onclick="location='/talk-gunnar-grosch.html';">
      <span>15.55 AM</span>
      <strong>Gunnar Grosch</strong>
      <span>Performing chaos in a serverless world</span>
    </div>
    </a>

    <a href="#">
    <div class="talk">
      <span>16.20 AM</span>
      <strong>TBA</strong>
      <span>TBA</span>
    </div>
    </a>

    <a href='/talk-sheen-brisals.html'>
    <div class="talk" onclick="location='/talk-sheen-brisals.html';">
      <span>16.45 AM</span>
      <strong>Sheen Brisals</strong>
      <span>Serverless Journey of shop.LEGO.com</span>
    </div>
    </a>

    <a href="#">
    <div class="keynote">
      <span>17.10 AM</span>
      <strong>Guillermo Rauch</strong>
      <span>TBA</span>
    </div>
    </a>
  
    <a href="#">
    <div class="talk">
      <span>17.55 AM</span>
      <strong>Team</strong>
      <span>Closing Remarks</span>
    </div>
    </a>

    <a href="#">
    <div class="coffee lunch">
      <span>6.10 PM - 20.30 PM</span>
      <div><span>Happy hour &amp; Networking</span></div>
    </div>
    </a>
  </div>
</div>
