<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda </h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>October 19th</h2>

  <h3>Morning</h3>

  <div class="row">

    <div class="coffee">
      <span>9.30 AM</span>
      <div><span>Doors open</span></div>
    </div>

    <div class="talk">
      <span>9.45 AM</span>
      <strong>Welcome &amp; Introduction</strong>
    </div>

    <div class="keynote" onclick="location='/talk-yan-cui.html';">
      <span>10 AM</span>
      <strong>You wouldn't build your own toaster, would you?</strong>
      <span>Yan Cui</span>
    </div>

    <div class="keynote" onclick="location='/talk-tyler-love.html';">
      <span>10.45 AM</span>
      <strong>The Bleeding Edge at Scale: 80-million users on Serverless and GraphQL</strong>
      <span>Tyler Love</span>
    </div>

    <div class="coffee">
      <div><span>Coffee<br />break</span></div>
    </div>

    <div class="keynote" onclick="location='/talk-mehul-patel.html';">
      <span>11.45 AM</span>
      <strong>Serverless Authentication with JWT</strong>
      <span>Mehul Patel</span>
    </div>

    <div class="talk" onclick="location='/talk-ian-massingham.html';">
      <span>12.30 AM</span>
      <strong>Serverless Analytics on AWS (for absolute beginners)</strong>
      <span>Ian Massingham</span>
    </div>

    <div class="coffee lunch">
      <div><span>Lunch &amp; Open<br /> Space Sessions</span></div>
    </div>

  </div>

  <h3>Afternoon</h3>

  <div class="row">

    <div class="talk" onclick="location='/talk-andrei-chernyshev.html';">
      <span>2 PM - Lightning talk</span>
      <strong>Serverless with Kubeless - usecase in Outfittery</strong>
      <span>Andrei Chernyshev</span>
    </div>

    <div class="talk" onclick="location='/talk-matthieu-napoli.html';">
      <span>2.05 PM - Lightning talk</span>
      <strong>Deploying serverless PHP applications</strong>
      <span>Matthieu Napoli</span>
    </div>

    <div class="talk" onclick="location='/talk-alessandro-vitale.html';">
      <span>2.10 PM - Lightning talk</span>
      <strong>Lessons from the trenches: building an enterprise Artificial Intelligence chatbot platform</strong>
      <span>Alessandro Vitale</span>
    </div>

    <div class="talk" onclick="location='/talk-adam-matan.html';">
      <span>2.20 PM</span>
      <strong>Think Functions</strong>
      <span>Adam Matan</span>
    </div>

    <div class="talk" onclick="location='/talk-marco-parenzan.html';">
      <span>2.45 PM</span>
      <strong>Build a serverless, distributed Pong game with Azure</strong>
      <span>Marco Parenzan</span>
    </div>

    <div class="talk" onclick="location='/talk-mattias-karlsson.html';">
      <span>3.10 PM</span>
      <strong>From napkin to service in minutes – with serverless on Azure</strong>
      <span>Mattias Karlsson</span>
    </div>

    <div class="coffee">
      <div><span>Coffee<br />break</span></div>
    </div>

    <div class="keynote" onclick="location='/talk-danilo-poccia.html';">
      <span>3.50 PM</span>
      <strong>Evolutionary Serverless Architectures with Safe Deployments</strong>
      <span>Danilo Poccia</span>
    </div>

    <div class="talk" onclick="location='/talk-rita-kozlov.html';">
      <span>4.35 PM</span>
      <strong>Optimize performance, reliability, and cost across multiple cloud providers: a Workers recipe</strong>
      <span>Rita Kozlov</span>
    </div>

    <div class="keynote" onclick="location='/talk-gojko-adzic.html';">
      <span>5 PM</span>
      <strong>From universal software to superglue</strong>
      <span>Gojko Adzic</span>
    </div>

    <div class="coffee">
      <span>5.45 PM</span>
      <div><span>Closing remarks</span></div>
    </div>

    <div class="coffee lunch">
      <span>6 PM - 9 PM</span>
      <div><span>Happy hour &amp; Networking</span></div>
    </div>
</div>

  <h2>October 20th</h2>

  <h3>Job Fair &amp; Workshops</h3>

  <div style="flex-direction: column;">
    <p>
      On Oct 20th we will host three parallel tracks of serverless workshops, up to three workshops for each track, covering multiple platforms, technologies, and use cases.<br />
      Workshop tickets will grant you access too all the available workshops (you choose which ones!). Note: seats are limited so we'd encourage you to secure a ticket soon :)
    </p>

    <p>
      <strong>
        Serverless Job Fair: <a href="https://www.eventbrite.com/e/serverless-job-fair-tickets-47322046515#tickets" target="_blank">sign up here for free</a>.</p>
      <strong>
    <p>    

    <p>
      <em>More details and agenda coming soon!</em>
    </p>
  </div>

</div>
