<div class="heroDate">
  <h1>Dates</h1>
  <ul>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Feb 18th, 2019<br />
        <strong>CFP Opens</strong>
      </div>
    </li>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Feb 20th, 2019<br />
        <strong>Tickets go on Sale</strong>
      </div>
    </li>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Apr 21st, 2019<br />
        <strong>CFP Closes</strong>
      </div>
    </li>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        May 6th, 2019<br />
        <strong>Speakers Announcement</strong>
      </div>
    </li>
    <li>
      <div class="checkmark"></div>
      <div class="text">
        June 21st, 2019<br />
        <strong>ServerlessDays Milano<br />@ Grand Visconti Palace</strong>
      </div>
    </li>
  </ul>
</div>
