<div class="heroDate">
  <h1>Dates</h1>
  <ul>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Jun 1st, 2018<br />
        <strong>CFP Opens</strong>
      </div>
    </li>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Jun 18th, 2018<br />
        <strong>Tickets go on Sale</strong>
      </div>
    </li>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Aug 1st, 2018<br />
        <strong>CFP Closes</strong>
      </div>
    </li>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Sep 12th, 2018<br />
        <strong>Speaker Announcement</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Oct 19th, 2018<br />
        <strong>ServerlessDays Milano<br />@ Fondazione Feltrinelli</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Oct 20th, 2018<br />
        <strong>Job Fair &amp; Workshops<br />@ Luiss Hub</strong>
      </div>
    </li>
  </ul>
</div>