
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,800" rel="stylesheet">
<link rel="stylesheet" href="style.css" />

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Language" content="en" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="serverless, serverlessdays, aws, microsoft azure, dazn, docebo, besharp" />
<link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/senzo/image/upload/c_scale,w_96/v1518368948/ALL-NEW_ALL-DIFFERENT_cwm1cv.png">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" />

<style>
    .vh-60 { height:60vh; }
    .vh-40 { height:40vh; }
    .vh-30 { height:30vh; }
    .sls-gray { color: #13110c; }
    .sls-btn { color: #19b1a3; border-color: #19b1a3; }
    .sls-border {border-color: #19b1a3; }

    iframe#eventbrite {
        width: 100%;
        border: 0;
        margin: 0;
        overflow: scroll;
        min-height: 1100px;
    }

    .serverlessdays-color {
        color: #0bb9a7;
    }

    .speaker-img {
        border-radius: 50%;
        border: 2px solid #ddd;
    }

    .sponsors a {
        display: inline-block;
    }

    @media screen and (min-width: 30em) {
        .vh-40-ns {  height: 40vh; }
    }
</style>

<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "ServerlessDays Milano",
    "url": "https://milan.serverlessdays.io",
    "logo": "https://res.cloudinary.com/senzo/image/upload/c_scale,w_640/v1518368968/serverless_logo_no_undertext_jcfeso.png",
    "image": "https://res.cloudinary.com/senzo/image/upload/c_scale,w_1020/v1518368948/ALL-NEW_ALL-DIFFERENT_cwm1cv.png",
    "description": "A community based conference focusing on Jeff (Serverless) based platforms and technologies. Milan, 19 October 2018",
    "contactPoint": [{
        "@type": "ContactPoint",
        "email": "milan@serverlessdays.io",
        "contactType": "technical support",
        "url": "https://milan.serverlessdays.io"
    }],
    "sameAs": [
        "https://twitter.com/ServerlessMIL",
        "https://www.youtube.com/channel/UCYzAnR_SebAmLRkKIbK_YoQ",
        "https://www.facebook.com/serverlessdays/"
    ]
}
</script>
