<header>
    <div class="bg-white">
        <nav class="dt w-100 mw8 center"> 
            <div class="dtc w-30 v-mid">
                <a href="/" class="dib pa1 border-box">
                    <img src="logos/serverlessdays-milano.svg" alt="ServerlessDays Logo" width="270"/>
                </a>
            </div>
            <div class="dtc w-20 v-mid pa3">
                TBD
            </div>
            <div class="dtc v-mid tr pa3">
                <!--<a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/">About</a>-->
                <a class="f6 fw4 underline-hover sls-btn grow no-underline sls-gray dn dib-l pv2 ph3 ba" href="/#tickets">Tickets</a> 
                <a class="f6 fw4 underline-hover no-underline sls-gray dn dib-ns pv2 ph3" href="/agenda">Agenda</a> 
                <a class="f6 fw4 underline-hover no-underline sls-gray dn dib-l pv2 ph3" href="/speakers">Speakers</a> 
                <!--<a class="f6 fw4 underline-hover no-underline sls-gray dib ml2 pv2 ph3" href="/#headline-sponsors">Sponsors</a>-->
                <a class="f6 fw4 underline-hover no-underline sls-gray dib ml2 pv2 ph3" href="/#coc">Code of Conduct</a> 
            </div>
        </nav> 
    </div>
</header>