<header>
    <div class="bg-white">
        <nav class="top-nav">

            <div class="logoContainer">

                <div class="logo">
                    <a href="/" class="verticalCenter">
                        <img src="logos/serverlessdays-milano.svg" alt="ServerlessDays Logo" width="270" />
                    </a>
                </div>

                <div class="dates bold">
                    19 Oct - Conference<br /> 20 Oct - Job Fair & Workshop
                </div>

            </div>

            <div class="menu bold">
                <!--<a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/">About</a>-->
                <a class="active" href="/">
                    Home</a>
                <a class="" href="/#tickets">Tickets</a>
                <a class="" href="/agenda">Agenda</a>
                <!--<a class="" href="/speakers">Speakers</a>-->
                <!--<a class="f6 fw4 underline-hover no-underline sls-gray dib ml2 pv2 ph3" href="/#headline-sponsors">Sponsors</a>-->
                <a class="" href="/#coc">Code of Conduct</a>
            </div>

        </nav>
    </div>
</header>