<div class="heroTitle">

  <div class="mascotte">
    <div><img class="" width="120" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_90/v1518368935/Anteater_png_3_hy7l5s.png"></div>
    <div><img class="" width="120" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_90/v1518368936/octo_mascot_usu91v.png"></div>

  </div>

  <div class="title">
    <div><img class="" width="120" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_100/v1518368935/owl_mascot_tfpz2j.png"></div>
    <h1>
      One Day,<br/>One Track,<br/>One Community
    </h1>
    <div><img class="" width="120" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_80/v1518368936/unicorn_mascot_1_vyq3zb.png"></div>
  </div>

  <div class="mascotte">
    <div><img class="" width="120" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_100/v1518368936/Moth_mascot_jeph83.png"></div>
    <div><img class="" width="120" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_70/v1518368936/Dino_mascot_1_ycezll.png"></div>
  </div>

</div>