<div class="heroTitle">

  <div class="mascotte">
    <div><img class="" width="130" height="183" src="./Mascotte/Anteater_mascot.svg"></div>
    <div><img class="" width="130" height="183" src="./Mascotte/octo_mascot.svg"></div>

  </div>

  <div class="title">
    <div><img class="" width="130" height="183" src="./Mascotte/owl_mascot.svg"></div>
    <h1>
      One Day,<br/>One Track,<br/>One Community
    </h1>
    <div><img class="" width="130" height="183" src="./Mascotte/unicorn_mascot.svg"></div>
  </div>

  <div class="mascotte">
    <div><img class="" width="130" height="183" src="./Mascotte/Moth_mascot.svg"></div>
    <div><img class="" width="130" height="183" src="./Mascotte/Dino_mascot.svg"></div>
  </div>

</div>