<meta property="og:title" content="ServerlessDays Milano - 19 October 2018" />
<meta property="og:type" content="website" />
<meta property="og:description" content="A community based conference focusing on Jeff (Serverless) based platforms and technologies. Milan, 19 October 2018"
/>
<meta property="og:url" content="https://milan.serverlessdays.io" />
<meta property="og:image" content="https://res.cloudinary.com/serverlessdays/image/upload/c_scale,w_1200/c_crop,g_north,w_1200,h_600/v1524234863/milano-piazza-duomo.jpg"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ServerlessMIL" />
<meta name="twitter:title" content="ServerlessDays Milano 2018" />
<meta name="twitter:description" content="A community based conference focusing on Jeff (Serverless) based platforms and technologies. Milan, 19 October 2018"
/>
<meta name="twitter:creator" content="@ServerlessMIL" />
<meta name="twitter:image" content="https://res.cloudinary.com/serverlessdays/image/upload/c_scale,w_1200/c_crop,g_north,w_1200,h_600/v1524234863/milano-piazza-duomo.jpg"
/>
<meta name="twitter:image:src" content="https://res.cloudinary.com/serverlessdays/image/upload/c_scale,w_1200/c_crop,g_north,w_1200,h_600/v1524234863/milano-piazza-duomo.jpg"
/>
<meta name="twitter:domain" content="milan.serverlessdays.io" />
<meta name="description" content="A community based conference focusing on Jeff (Serverless) based platforms and technologies. Milan, 19 October 2018"
/>