<div class="section speakers">
  <h1>Speakers</h1>

  <div class="list">
    <div>
      <div class="bio">
        <img src="speakers/yan-cui.jpg">
        <h3>Yan Cui</h3>
        <a href="https://twitter.com/theburningmonk" target="_blank">@theburningmonk</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/gojko-adzic.jpg">
        <h3>Gojko Adzic</h3>
        <a href="https://twitter.com/gojkoadzic" target="_blank">@gojkoadzic</a>
      </div>
    </div>
  </div>
</div>