<div class="section speakers">
  <h1>Keynote Speakers</h1>

  <div class="list">
    <div>
      <div class="bio">
        <img src="speakers/jeremy-daly.jpg">
        <h3>Jeremy Daly</h3>
        <span>Jeremy is a passionate <strong>serverless advocate</strong>, AWS Serverless Hero, and senior technology leader with more than twenty years of experience building web and mobile applications.<br /><br />Jeremy is an active member of the serverless community, creating and contributing to open source serverless projects, and frequently consulting with companies looking to adopt serverless. Jeremy also writes extensively about serverless on his blog (<a href="https://jeremydaly.com">jeremydaly.com</a>) and publishes Off-by-none, a weekly newsletter that focuses on all things serverless (<a href="https://offbynone.io">offbynone.io</a>).<br /><br />He is currently the CTO of AlertMe.</span>
        <span>
          twitter 
          <a href="https://twitter.com/jeremy_daly" target="_blank">@jeremy_daly</a>
        </span>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/guillermo-rauch.jpg">
        <h3>Guillermo Rauch</h3>
        <span>
          Guillermo Rauch is the founder of ZEIT, <strong>co-creator of <a href="https://now.sh">Now</a> and Next.js</strong>, and former CTO and co-founder of LearnBoost and Cloudup, acquired by <a href="https://wordpress.com">wordpress.com</a> in 2013.<br /> He's a former mentor of an Open Source Engineering class organized and pioneered by Stanford, with students from Harvard, MIT, Carnegie Mellon, UPenn, Columbia and others.<br /><br />

He's the creator of <a href="https://socket.io">socket.io</a>, one of the most popular JavaScript projects on GitHub, and of the first MongoDB ORM for Node.js: MongooseJS. Before that he was a core developer of the MooTools JavaScript framework. He's the author of "Smashing Node.js" published by Wiley in 2012, best-selling book about Node.js on Amazon in multiple programming categories.

        </span>
        <span>
          twitter 
          <a href="https://twitter.com/rauchg" target="_blank">@rauchg</a>
        </span>
      </div>
    </div>
  </div>
</div>
