<div class="section speakers">
  <h1>Keynote Speakers</h1>

  <div class="list">
    <div>
      <div class="bio">
        <img src="speakers/yan-cui.png">
        <h3>Yan Cui</h3>
        <a href="https://twitter.com/theburningmonk" target="_blank">@theburningmonk</a>
        <span>Principal Engineer<br />@ DAZN</span>
      </div>

      <article>
        <p>Yan is an experienced engineer who has worked with AWS for nearly 10 years.<br />He has been an architect and
          lead developer with a variety of industries ranging from investment banks, e-commerce to mobile gaming.</p>

        <p>In the last 2 years he has worked extensively with AWS Lambda in production, and he has been very active in sharing
          his experiences and the lessons he has learnt, some of his work has even made their way into the Serverless Well-Architected
          whitepaper published by AWS.</p>

        <p>Yan is a regular speaker at user groups and conferences internationally, and he is also the author of Production-Ready
          Serverless and a co-author of F# Deep Dives.</p>

        <p>In his spare time <a href="https://theburningmonk.com" target="_blank">he keeps an active blog</a> where he shares
          his thoughts on topics such as AWS, serverless, functional programming and chaos engineering.</p>
      </article>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/gojko-adzic.jpg">
        <h3>Gojko Adzic</h3>
        <a href="https://twitter.com/gojkoadzic" target="_blank">@gojkoadzic</a>
        <span>Author of Humans vs Computers, MindMup, and Claudia.js</span>
      </div>

      <article>
        <p>Gojko is a partner at <a target="_blank" href="https://neuri.co.uk/">Neuri Consulting LLP</a>.</p>

        <p>He is the winner of the 2016 European Software Testing Outstanding Achievement Award, and the 2011 Most Influential
          Agile Testing Professional Award.</p>

        <p>Gojko’s book Specification by Example won the Jolt Award for the best book of 2012, and his blog won the UK Agile
          Award for the best online publication in 2010.</p>

        <p>As a consultant, Gojko has helped companies around the world improve their software delivery, from some of the
          largest financial institutions to small innovative startups.
        </p>

        <p>Gojko specialises in agile and lean quality improvement, in particular impact mapping, agile testing, specification
          by example and behaviour driven development.</p>
      </article>
    </div>

  </div>

</div>