<div class="section sponsors">

  <h1>Sponsors</h1>
  <h3 style="font-weight: bold; font-size: 1.5em; margin: 20px 0 40px 0; color: #19b1a3;">
    <span>
      ServerlessDays Milano is a <strong>no-profit community-run</strong> event:<br />support the serverless community and <a href="/ServerlessDays-Milan-2019-Sponsorship-Prospectus.pdf" title="Sponsorship prospectus"><strong>become a sponsor today!</strong></a>
    </span>
  </h3>

  <p>Check out last year's <a href="https://2018.milan.serverlessdays.io/#sponsors">awesome sponsors!</a></p>

  <!--<h2>Headline</h2>
  <div class="list headline">
    <div>
      <a href="https://www..com" target="_blank"><img class="grow" src="logos/xxx.png" title="xxx" alt="xxx"></a>
    </div>
  </div>
  <div class="separator">&nbsp;</div>

  <h2>Community</h2>

  <div class="list community mt4">
    <div>
      <a href="https://www.neosperience.com" target="_blank"><img class="grow" src="logos/neosperience.svg" title="Neosperience"
          alt="Neosperience"></a>
    </div>
    <div>
      <a href="https://www.digitalattitude.com" target="_blank"><img class="grow" src="logos/digital_attitude.png" title="Digital Attitude"
          alt="Digital Attitude"></a>
    </div>
  </div>

  <div class="list community mt4">
    <div class="squared">
      <a href="https://www..com" target="_blank"><img class="grow" src="logos/xxx.png" title="xxx" alt="xxx"></a>
    </div>
  </div>

  <div class="separator">&nbsp;</div>-->

  <h2>Media &amp; Diversity Partners</h2>
  <div class="list media">
    <div class="squared">
      <a href="https://www.meetup.com/it-IT/Serverless-Italy/" target="_blank"><img class="grow" src="https://secure.meetupstatic.com/photos/event/d/1/2/9/600_451433545.jpeg" height="130" title="Serverless Italy Meetup"
          alt="Serverless Italy Meetup"></a>
    </div>

    <div class="squared">
      <a href="http://www.compvter.it" target="_blank"><img class="grow" src="logos/compvter.jpg" height="130" title="ComPVter"
          alt="ComPVter"></a>
    </div>
    <div class="squared">
      <a href="https://www.grusp.org" target="_blank"><img class="grow" src="logos/grusp.svg" height="70" title="GrUSP" alt="GrUSP"></a>
    </div>
    <div class="squared">
      <a href="https://cloudconf.it" target="_blank"><img class="grow" src="logos/cloudconf.png" title="CloudConf" alt="CloudConf"></a>
    </div>
  </div>

  <!--<div class="list media mt3">
    <div class="squared">
      <a href="https://cloudconf.it" target="_blank"><img class="grow" src="logos/cloudconf.png" title="CloudConf" alt="CloudConf"></a>
    </div>
  </div>-->
</div>
