<div class="section sponsors">

  <h1>Sponsors</h1>

  <h2>Headline</h2>
  <div class="list headline">
    <div>
      <a href="https://www.docebo.com" target="_blank"><img class="grow" src="logos/docebo.png" title="Docebo" alt="Docebo"></a>
    </div>

    <div>
      <a href="https://www.besharp.it" target="_blank"><img class="grow" src="logos/besharp.svg" title="beSharp" alt="beSharp"></a>
    </div>

    <div>
      <a href="https://aws.amazon.com" target="_blank"><img class="grow" src="logos/aws.png" title="Amazon Web Services"
          alt="Amazon Web Services" style="max-height: 80px;"></a>
    </div>
    <div>
      <a href="https://azure.microsoft.com" target="_blank"><img class="grow" src="logos/microsoft.png" title="Microsoft Azure"
          alt="Microsoft Azure"></a>
    </div>
  </div>

  <div class="separator">&nbsp;</div>

  <h2>Community</h2>

  <div class="list community mt4">
    
    <div>
      <a href="https://www.neosperience.com" target="_blank"><img class="grow" src="logos/neosperience.svg" title="Neosperience"
          alt="Neosperience"></a>
    </div>
    <div>
      <a href="https://www.digitalattitude.com" target="_blank"><img class="grow" src="logos/digital_attitude.png" title="Digital Attitude"
          alt="Digital Attitude"></a>
    </div>
    <div class="squared">
      <a href="https://www.dazn.com/en-IT" target="_blank"><img class="grow" src="logos/dazn.svg" title="DAZN" alt="DAZN"></a>
    </div>
    <div>
      <a href="https://www.cloudflare.com" target="_blank"><img class="grow" src="logos/cloudflare.png" title="CloudFlare"
          alt="CloudFlare"></a>
    </div>
    <div>
      <a href="https://www.deloitte.com" target="_blank"><img class="grow" src="logos/deloitte.png" title="Deloitte"
          alt="Deloitte"></a>
    </div>

  </div>

  <div class="list community mt4">
    <div class="squared">
      <a href="https://www.azatec.com" target="_blank"><img class="grow" src="logos/azatec.png" title="Azatec" alt="Azatec"></a>
    </div>
    <div>
      <a href="http://www.conversate.eu" target="_blank"><img class="grow" src="logos/conversate.svg" title="Conversate"
          alt="Conversate"></a>
    </div>
    <div>
      <a href="https://cloud.google.com" target="_blank"><img class="grow" src="logos/google-cloud.png" title="Google Cloud"
          alt="Google Cloud"></a>
    </div>
    <div>
      <a href="https://binaris.com" target="_blank"><img class="grow" src="logos/binaris.png" title="Binaris"
          alt="Binaris"></a>
    </div>
    <div>
      <a href="https://highops.com" target="_blank"><img class="grow" src="logos/highops.png" title="HighOps"
          alt="HighOps"></a>
    </div>
    
  </div>

  <div class="separator">&nbsp;</div>

  <h2>Media &amp; Diversity</h2>
  <div class="list media">
    <div>
      <a href="https://stackery.io" target="_blank"><img class="grow" src="logos/stackery.svg" title="Stackery" alt="Stackery"></a>
    </div>
    <div>
      <a href="https://cloudconf.it" target="_blank"><img class="grow" src="logos/cloudconf.png" title="CloudConf" alt="CloudConf"></a>
    </div>
    <div class="squared larger">
      <a href="https://www.grusp.org" target="_blank"><img class="grow" src="logos/grusp.svg" height="70" title="GrUSP" alt="GrUSP"></a>
    </div>
    <div class="squared larger">
      <a href="http://www.compvter.it" target="_blank"><img class="grow" src="logos/compvter.jpg" height="130" title="ComPVter"
          alt="ComPVter"></a>
    </div>
    <div class="squared larger">
      <a href="https://www.avanscoperta.it" target="_blank"><img class="grow" src="logos/avanscoperta.png" height="120" title="Avanscoperta"
          alt="Avanscoperta"></a>
    </div>
  </div>
</div>
