<div class="section sponsors">

  <h1>Sponsors</h1>
  <div style="align-self: center;">
    <h3 style="display: block; text-align: center; font-weight: bold; color: #19b1a3;">ServerlessDays Milano is a no-profit community-run event:<br />support the serverless community and <a href="ServerlessDays-Milan-2019-Sponsorship-Prospectus.pdf">become a sponsor today!</a></h3>
  </div>

  <!--<h2>Headline</h2>
  <div class="list headline">
    <div>
      <a href="https://www..com" target="_blank"><img class="grow" src="logos/xxx.png" title="xxx" alt="xxx"></a>
    </div>
  </div>
  <div class="separator">&nbsp;</div>-->

  <h2>Community</h2>

  <div class="list community mt4">
    <div>
      <a href="https://www.neosperience.com" target="_blank"><img class="grow" src="logos/neosperience.svg" title="Neosperience"
          alt="Neosperience"></a>
    </div>
    <div>
      <a href="https://www.digitalattitude.com" target="_blank"><img class="grow" src="logos/digital_attitude.png" title="Digital Attitude"
          alt="Digital Attitude"></a>
    </div>
  </div>

  <!--<div class="list community mt4">
    <div class="squared">
      <a href="https://www..com" target="_blank"><img class="grow" src="logos/xxx.png" title="xxx" alt="xxx"></a>
    </div>
  </div>-->

  <div class="separator">&nbsp;</div>

  <h2>Media &amp; Diversity</h2>
  <div class="list media">
    <div class="squared">
      <a href="http://www.compvter.it" target="_blank"><img class="grow" src="logos/compvter.jpg" height="130" title="ComPVter"
          alt="ComPVter"></a>
    </div>
    <div class="squared">
      <a href="https://www.grusp.org" target="_blank"><img class="grow" src="logos/grusp.svg" height="70" title="GrUSP" alt="GrUSP"></a>
    </div>
    <div class="squared">
      <a href="https://cloudconf.it" target="_blank"><img class="grow" src="logos/cloudconf.png" title="CloudConf" alt="CloudConf"></a>
    </div>
  </div>

  <!--<div class="list media mt3">
    <div class="squared">
      <a href="https://cloudconf.it" target="_blank"><img class="grow" src="logos/cloudconf.png" title="CloudConf" alt="CloudConf"></a>
    </div>
  </div>-->
</div>
