<div class="section" style="border: 0;">

  <div class="left">
    <div class="title">
      <h1>Tickets</h1>
    </div>
    <div class="image"><img width="150" src="./Mascotte/unicorn_mascot.svg" /></div>
  </div>

  <div class="text">
    <p>Tickets are available at €35, and the income<br />will be donated to local no-profit organizations.</p>

    <p>We believe in inclusiveness and diversity, and we are working hard with<br />our Diversity Partners to welcome people
      from diverse backgrounds and<br />to remove any financial barrier.</p>

    <p>You can chosee to buy a Diversity Sponsor Ticket, and we'll donate it to<br /> a Diversity Scholar. If you are part
      of an underrepresented group in tech, <br />you can apply by emailing us at milan@serverlessdays.io!</p>

    <p><strong>P.S. the serverless job fair will be 100% free for everybody!</strong></p>

  </div>
</div>

<div class="ticketsFrame">
  <iframe src="https://eventbrite.com/tickets-external?eid=47239920875&ref=etckt" frameborder="0" height="900" width="100%"
    vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
</div>