<div class="section" style="border: 0;">

  <div class="left">
    <div class="title">
      <h1>Tickets</h1>
    </div>
    <div class="image"><img width="150" height="210" src="./Mascotte/unicorn_mascot.svg" /></div>
  </div>

  <div class="text">
    <p>Tickets are available at €35, and the income will be donated to local no-profit organizations.</p>

    <p>We believe in inclusiveness and diversity, and we are working hard with <span class="line-break no-mobile"></span>
      our Diversity Partners to welcome people from diverse backgrounds and <span class="line-break no-mobile"></span> to
      remove any financial barrier.</p>

    <p><strong>Tickets coming soon, stay tuned and follow us <a href="https://twitter.com/serverlessMIL" target="_blank">@serverlessMIL</a></strong></p>

    <!--<p>You can also choose to buy a Diversity Sponsor Ticket and we'll donate it to a Diversity Scholar. <span class="line-break no-mobile"></span>
      If you are part of an underrepresented group in tech, you can <a href="https://diversitytickets.org/events/185/" target="_blank">apply here</a>!</p>

    <p>
      Can't see the Tickets frame below?
      <a href="https://www.eventbrite.com/e/serverlessdays-milan-2018-tickets-47239920875#tickets" target="_blank">Buy a ticket here!</a>
    </p>-->
  </div>
</div>

<!--<div class="ticketsFrame">
  <iframe src="https://eventbrite.com/tickets-external?eid=47239920875&ref=etckt" frameborder="0" height="1100" width="100%"
    vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>-->
