<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Venue</h1>
    </div>
    <div class="image"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.4140860701746!2d9.181904229544664!3d45.48160555507944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c136c89f5f09%3A0x8c489a8fb14902b1!2sFondazione+Giangiacomo+Feltrinelli!5e0!3m2!1sit!2sit!4v1537823047697"
      width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  </div>

  <div class="text">
    <p>
      The Conference will be hosted at <a href="http://fondazionefeltrinelli.it/en/">Fondazione Feltrinelli</a>,<span class="line-break no-mobile"></span>
      in the very center of the city of Milan,<span class="line-break no-mobile"></span>
       less than 5-minutes walking from Milano Porta Garibaldi.
      
    </p>

    <p>
      The venue is easily accessible using public transportation. <span class="line-break no-mobile"></span>
      If you're coming by train, get off at Milano Porta Garibaldi FS,<span class="line-break no-mobile"></span>
      then take the exit for Corso Como towards viale Pasubio.<span class="line-break no-mobile"></span>
      
      <span class="line-break no-mobile"></span>
      If you're coming by metro, tram, or bus, you may want <span class="line-break no-mobile"></span>to check <a href="http://giromilano.atm.it/#/home/calcolapercorso">ATM's journey planner</a>.
    </p>

    <p>
      All the Workshops and the Job Fair, on the 20th of October,<span class="line-break no-mobile"></span>
      will be hosted at <a href="https://www.google.it/maps/place/Milano+LUISS+Hub+for+makers+and+students/@45.4830339,9.1832247,17.75z/">Milano LUISS Hub</a>, right next to the<span class="line-break no-mobile"></span> Milano Porta Garibaldi railway and metro station.
    </p>


  </div>
</div>