<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Venue</h1>
    </div>
    <div class="image"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.121576452011!2d9.204820351360445!3d45.447206142495325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c13e00638085%3A0xd6f40b7a14e0d740!2sGrand+Visconti+Palace+Hotel!5e0!3m2!1sen!2sit!4v1550611405966"
      width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  </div>

  <div class="text" style="flex-basis: 45%">
    <p>
      The Conference will be hosted at <a href="https://www.grandviscontipalace.com/en">Grand Visconti Palace</a> in <a href="https://goo.gl/maps/m7yysjYtQt22">viale Isonzo, 14, 20135 Milano</a>, and can be reached by Metro in less than 10 minutes from Milano Centrale Railway Station, and 7 minutes from the Duomo.
    </p>

    <p>
      The venue is easily accessible using public transportation. <span class="line-break no-mobile"></span>
      If you're coming by train, get off at Milano Centrale Railway Station, 
      then take the Metro Line 3 (M3, Yellow Line) and get off at Lodi Tibb stop.<span class="line-break no-mobile"></span>
      
    </p>
    <p>
      You can also easily reach the location using the trolleybus line 90, 91, 92. You may want to check <a href="http://giromilano.atm.it/#/home/calcolapercorso">ATM's journey planner</a> for further directions.
    </p>
  </div>
</div>