body {
  padding: 20px 0 0 0;
}

* {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #13110c;
}

img {
  /* resets max-width inherited by framework */
  max-width: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #464541;
  margin: 0 0 1em 0;

  /* aligns images and text inside headers */
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  padding-right: 0.5em;
}

p {
  font-weight: 400;
}

div,
nav {
  display: flex;
}

strong,
b,
.bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

span.line-break {
  display: block;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.top-nav {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0px auto 5px;
}

nav.top-nav .logoContainer {
  flex: 1 0 auto;
}

nav.top-nav .logoContainer .logo {
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid 2px #979797;
}

nav.top-nav .logoContainer .dates {
  font-size: 0.7rem;
  align-self: center;
  line-height: 1.4em;
}

nav.top-nav .menu {
  flex: 0.4;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

nav.top-nav .menu a {
  display: flex;
  flex: 0 1;
  padding: 10px;
  text-decoration: none;
  color: #13110c;
  border: solid 2px white;
  font-weight: 400;
}

nav.top-nav .menu a.active,
nav.top-nav .menu a:hover {
  border: solid 2px #19b1a3;
  color: #19b1a3;
}

nav.top-nav .menu a.active,
nav.top-nav .menu a:hover {
  border: solid 2px #19b1a3;
  color: #19b1a3;
}

nav.top-nav .menu a.highlight,
nav.top-nav .menu a.highlight:hover,
nav.top-nav .menu a.highlight:active {
  color: #cc171a;
  border: solid 2px #cc171a;
  font-weight: 700;
}

.heroContainer {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em;
}

.button {
  flex: 0 1;
  padding: 10px;
  text-decoration: none;
  font-weight: 400;
  border: solid 2px #19b1a3;
  background-color: white;
  color: #19b1a3;
  font-size: 1em;
  cursor: pointer;
}

.heroDate {
  flex: 0 0 350px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 3px #19b1a3;
  padding: 5px;
  font-size: 1.2em;
}

.heroDate h1 {
  font-size: 1.8em;
  margin: 0.5em 0 0 0.5em;
}

.heroDate ul {
  display: flex;
  padding-left: 0;
  flex-direction: column;
  list-style-type: none;
}

.heroDate li {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
}

.heroDate li .checkmark {
  display: flex;
  flex: 0 0 50px;
  visibility: hidden;
}
.heroDate li.done .checkmark {
  display: flex;
  flex: 0 0 50px;
  visibility: visible;
  justify-content: center;
}

.heroDate li .text {
  display: block;
}
.heroDate li .text strong {
  font-weight: bold;
  color: #464541;
}

.heroDate li.done,
.heroDate li.done .text,
.heroDate li.done .text strong {
  color: #19b1a3;
}

.heroTitle {
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.heroTitle .mascotte,
.heroTitle .title {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heroTitle .title h1 {
  font-size: 3em;
  font-weight: 800;
  color:#fff;
  text-shadow: 0 0 6px rgba(0,0,0,1),0 0 6px rgba(0,0,0,1);

}

.section {
  padding: 5em 5em;
  align-items: flex-start;
  justify-content: flex-start;
  border-width: 3px 0;
  border-color: #19b1a3;
  border-style: solid;
}

.section .left {
  flex: 3 0 auto;
  justify-content: left;
  align-items: flex-start;
}

.section .left .title {
  flex: 1 0 auto;
}

.section .teammember {
    margin-left: 5em;
}

.section h1 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 800;
  font-size: 3em;
}

.section h2 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 2.5em;
}

.section .left .image {
  flex: 1 0 auto;
}

.section .text {
  /*flex: 5 0 auto;*/
  display: block;
  font-size: 1.1em;
}

.section .text p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.section.agenda {
  flex-direction: column;
}

.section.agenda h2 {
  margin: 2em 0 1em 0;
  font-size: 2em;
  font-weight: bold;
}

.section.agenda h3 {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 1em;
}

.section.agenda .header-button {
  align-items: stretch;
}

.section.agenda .header-button h1,
.section.agenda .header-button button {
  flex: 1 0 auto;
  margin: 0; /* no margin for h2 so alignment with button works */
}

.section.agenda .header-button button {
  background: white;
  margin-left: 2em;
}

.section.agenda .row {
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section.agenda .row > div {
  flex: 1 1 212px;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 10px 10px 0;
  min-height: 105px;
  min-width: 212px;
  padding: 14px;
}

.section.agenda .row > div > * {
  display: block;
  flex: 0 0 content;
  color: white;
}

.section.agenda .row > div > :first-child {
  flex: 1 0 auto;
  justify-self: flex-start;
}

.section.agenda .row div > span {
  font-weight: 300;
}

.section.agenda .row div strong {
  font-weight: 500;
  margin: 5px 0;
  color: white;
}

.section.agenda .row .keynote:hover,
.section.agenda .row .abstract:hover,
.section.agenda .row .lunch:hover,
.section.agenda .row .afterparty:hover,
.section.agenda .row .lightning:hover,
.section.agenda .row .talk:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.section.agenda .row .keynote,
.section.agenda .row .abstract,
.section.agenda .row .lightning,
.section.agenda .row .talk {
  cursor: pointer;
}

.section.agenda .row .talk {
  flex: 1 0 20%;
  background-color: #22b4a7;
}

.section.agenda .row .talk.workshop {
  flex-basis: 25%;
  flex-grow: 0;
}

.section.agenda .row .keynote {
  flex: 2 0 20%;
  background-color: #cc171a;
}

.section.agenda .row .lightning {
  flex: 2 0 10%;
  background-color: orange;
}

.section.agenda .row .abstract {
  flex: 2 0 40%;
  background-color: #22b4a7;
}

.section.agenda .row .draft {
  flex: 0 2 10%;
  border: solid 3px orange;
  background-color: white;
}

.section.agenda .row div.draft strong {
  font-weight: 600;
  margin: 5px 0;
  color: orange;
}

.section.agenda .row .draft span {
  color: orange;
}

.section.agenda .row .lunch,
.section.agenda .row .afterparty {
  flex: 2 0 30%;
  background-color: #7894d9;
  cursor: pointer;
}

.section.agenda .row .coffee {
  flex: 0 2 10%;
  justify-content: center;
  align-items: center;
  border: solid 3px #7894d9;
  background-color: white;
}

.section.agenda .row .coffee div {
  flex: 1 1 content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.agenda .row div.coffee strong {
  font-weight: 600;
  margin: 5px 0;
  color: #7894d9;
}

.section.agenda .row .coffee > span {
  flex: 0 0 content;
  align-self: flex-start;
}

.section.agenda .row .coffee span {
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
  color: #7894d9;
}

.section.speakers {
  flex-direction: column;
}

.section.speakers .list {
  width: 80%;
  margin: auto;
  /*flex-direction: column;*/
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section.speakers .list > div {
  /*flex: 1 0 auto;*/
  flex: 1 0 33%;
  align-items: center;
  padding: 20px 0;

  flex-direction: column;
  align-items: center;
}

.section.speakers .list > div > .bio {
  /*flex-basis: 20%;*/
  flex-direction: column;
  text-align: center; /* for text elements */
  align-items: center; /* for flex elements */
  /*padding: 20px 0;*/
}

.section.speakers .list > div > .bio img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid lightgray;
}

.section.speakers .list > div > .bio h3 {
  font-weight: 600;
  font-size: 1.1em;
  margin: 0.5em 0 0 0;
}

.section.speakers .list > div > .bio span {
  font-weight: 200;
  margin: 0.5em 0 0 0;
}

.section.speakers .list > div > article {
  flex-basis: 80%;
}

.section.speakers .list > div p {
  margin-left: 2em;
  font-size: 1.1em;
}

.ticketsFrame {
  justify-content: center;
  width: 800px;
}

.sponsors {
  flex-direction: column;
}

.sponsors h1 {
  font-size: 3em;
}

.sponsors h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.sponsors .list {
  flex: 1 0 auto;
  justify-content: space-around;
  align-self: center;
}

.sponsors .list div {
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sponsors .list div.squared {
  flex: 0 1 content;
}
.sponsors .separator {
  height: 1px;
  width: 90%;
  margin: 3em auto;
  border-top: solid 1.5px #979797;
}

.sponsors .gold img {
  min-height: 100px;
  object-fit: contain;
}
.sponsors .gold div {
  flex: 1 0 20%;
  padding: 0 30px;
}

.sponsors .silver img {
  min-height: 80px;
  object-fit: contain;
}
.sponsors .silver div {
  flex: 1 0 20%;
  padding: 0 30px;
}

.sponsors .drinks img {
  min-height: 100px;
  width: 100%;
  height: 130px;
  object-fit: contain;
}
.sponsors .drinks div {
  flex: 1 0 20%;
  padding: 0 30px;
}

.sponsors .community img {
  min-height: 30px;
  max-width: 300px;
  object-fit: contain;
}
.sponsors .community div.squared img {
  min-height: 70px;
}
.sponsors .community div {
  flex: 1 0 15%;
  padding: 0 20px;
}

.sponsors .media img {
  width: 200px;
  object-fit: contain;
}
.sponsors .media div.squared img {
  min-height: 70px;
}
.sponsors .media div {
  flex: 1 0 15%;
  padding: 0 30px;
}

.sponsors .gold,
.sponsors .silver,
.sponsors .drinks,
.sponsors .community {
  width: 100%;
}

.sponsors .media.list {
  justify-content: flex-start;
  width: 100%;
}

.section.coc {
  flex-direction: column;
}

.section.coc h2 {
  margin: 0;
}

.section.coc .expanded {
  display: block;
}

.section.coc .expanded h3 {
  margin: 1.2em 0 0 0;
}

.footer {
  background-color: #19b1a3;
  margin: 0;
  padding: 1em 0;
}

.footer div,
.footer p,
.footer a {
  color: white;
  font-weight: 400;
}

.footer div {
  text-align: center;
}
.footer p {
  text-align: left;
}

.footer .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .row.mascotte {
  justify-content: center;
}
.footer .row.mascotte > div {
  padding: 10px;
}

.breadcrumb {
  margin-top: 20px;
  background-color: #f0f0f0;
  height: 2em;
  width: 100%;
}

.section.talk {
  max-width: 80%;
  margin: auto;
  border: 0;
  flex-direction: row;
}
.section.talk > .photo {
  flex: 1 1 40%;
  justify-content: center;
  padding-right: 3em;
  max-width: 250px;
}
.section.talk > .photo > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.section.talk > .text {
  flex: 1 1 60%;
  flex-direction: column;
}
.section.talk > .text > h1 {
  margin-bottom: 5px;
}
.section.talk > .text > h2 {
  font-weight: 300;
  color: #979797;
  font-size: 1.8em;
}
.section.talk > .text > p {
  font-weight: 300;
  color: #464541;
  line-height: 1.32;
  margin-bottom: 2em;
}

.section.videos {
  flex-direction: column;
}

.section.videos .list {
  width: 90%;
  margin: auto;
  /*flex-direction: column;*/
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section.videos .list > div {
  /*flex: 1 0 auto;*/
  flex: 1 0 20%;
  align-items: center;
  padding: 20px 0;

  flex-direction: column;
  align-items: center;
}

.section.videos .list > div > .desc {
  /*flex-basis: 20%;*/
  flex-direction: column;
  text-align: center; /* for text elements */
  align-items: center; /* for flex elements */
  /*padding: 20px 0;*/
}

.section.videos .list > div > .desc img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid lightgray;
}

.section.videos .list > div > .desc h3 {
  font-weight: 600;
  font-size: 1.1em;
  margin: 0.5em 0 0 0;
}

.section.videos .list > div > .desc span {
  font-weight: 200;
  margin: 0.5em 0 0 0;
}

.section.videos .list > div > article {
  flex-basis: 80%;
}

.section.videos .list > div p {
  margin-left: 2em;
  font-size: 1.1em;
}

/* mobile */
@media (max-width: 920px) {
  .no-mobile {
    display: none !important;
  }

  .heroContainer {
    padding: 0;
  }

  .heroContainer .heroTitle {
    display: none;
  }

  .heroContainer .heroDate {
    border: 0;
  }

  .heroContainer .heroDate .done {
    display: none;
  }

  .heroContainer .heroDate .checkmark {
    display: none;
  }

  .heroContainer .heroDate ul {
    padding-left: 0.5em;
  }

  nav.top-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav.top-nav .logoContainer {
    justify-content: center;
    flex: 0 0 100%;
    margin-bottom: 15px;
  }

  .section {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  .section .left {
    flex-direction: column-reverse;
    align-items:center;
  }

  .section .left .title h1 {
    margin-top:15px;
  }

  .section.agenda h2 {
    margin: 1em 0 0 0;
  }

  .section.agenda .row .coffee {
    flex: 1 1 100%;
  }

  .section.speakers h1 {
    text-align: center;
  }

  .section.speakers .list {
    width: 100%;
  }

  .section.speakers .list > div {
    flex-direction: column;
    align-items: center;
  }

  .section.speakers .list > div p {
    margin: 0 5px;
  }

  .section.sponsors .list {
    flex-wrap: wrap;
  }

  .section.sponsors .list > div {
    flex: 0 0 100%;
    padding-bottom: 20px;
  }

  .section.sponsors .list > div:last-child {
    padding-bottom: 0;
  }

  .sponsors .silver img {
    max-width: 300px;
  }

  .sponsors .drinks img {
    max-width: 275px;
  }

  .sponsors .community img {
    max-width: 200px;
  }

  .section.talk {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .section.talk .photo {
    padding-bottom: 15px;
  }

  .section.footer .row {
    flex-direction: column;
  }

  .section.footer .row p {
    text-align: center;
  }

  .section.footer .row.mascotte {
    flex-direction: row;
  }
}